h1 {
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #8B0000;
    text-shadow: -1px 0 0 #000000, 1px 1px 0 #000000,
             2px -1px 0 #000000, 3px 0 0 #000000;
    font-size: 250%;
    margin: 10px 7px 0;
    font-weight: bold;
	}
h2,h3 {
	font-size: 150%;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
    }
p {
	font-size: 110%;
	color: #000000;
  }